Source: {{source}}
Section: python
Priority: optional
Maintainer: {{author}} <{{author_email}}>
Build-Depends: debhelper (>= 9), python, dh-virtualenv, {{build_depends}}
XS-Python-Version: >=2.7
Standards-Version: 3.9.3
Vcs-Git:
Homepage: {{url}}

Package: {{source}}
Architecture: {{arch}}
Depends: ${misc:Depends}, ${python:Depends}
Description: {{short_description}}
 A python debianized package for {{project}}
